body {
  min-width: 1165px;
  margin: 1vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 1px;
  display: flex; 
}

.navigation li {
  flex: 1; 
  min-height: 8vh;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 20px 0; 
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04aa6d;
}


@media screen and (max-width: 400px) {
  ul.navigation {
    flex-direction: column; 
  }

  ul.navigation li a {
    text-align: center;
    float: none;
    width: 100%; 
  }
}
