.user-table{
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color: #ffdddd;
}

.table-heading, .table-data{
    justify-content: center;
    align-items: center;
    min-width: 100px;
    width: 200px;
}

.email{
    min-width: 200px;
}

.address{
    min-width: 200px;
}